{% extends "admin/base.html" %}
{% load i18n %}

{% block extrahead %}
    <style>
        .language-switcher {
            float: right;
            margin-right: 20px;
            margin-top: 20px;
        }
    </style>
{% endblock %}

{% block userlinks %}
    <div class="language-switcher">
        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <select name="language" onchange="this.form.submit()">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
                {% endfor %}
            </select>
        </form>
    </div>
    {{ block.super }}
{% endblock %}